* {
  box-sizing: border-box;
}

html {
  font-family: 'Carrois Gothic', sans-serif;
}

.app-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(img/2.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #020200;
}

.header {
  z-index: 10;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: #fafafa;
  padding: 0 2rem;
  border-bottom: 10px solid #7B6840;
}

.brand {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  color: #7B6840;
  margin: 0;
}

.brand--link {
  color: inherit;
  text-decoration: none;
}

.nav {
  display: flex;
}

.nav__item {
  font-weight: normal;
  margin: 0;
}

.nav__item--link {
  display: block;
  padding: .5rem 1rem;
  color: #020200;
  text-decoration: none;
  -webkit-transition: .5s;
          transition: .5s;
}

.nav__item--link:hover {
  /*border-bottom: 2px solid #7B6840;*/
  color: #7B6840;
}

.box {
  background-color: rgba(220, 220, 220, .8);
  padding: 15px 30px;
  border-radius: 5px;
  max-width: 1440px;
}

.title {
  color: #7B6840;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
}

.button {
  margin-top: 15px;
  padding: 10px 40px;
  background-color: #020200;
  color: #fafafa;
  border-color: transparent;
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
}

.container {
  position: absolute;
  top: 4rem;
  left: 15px;
  right: 15px;
  bottom: 15px;
  overflow-y: scroll;
  background-color: rgba(220, 220, 220, .8);
  padding: 15px 30px;
  border-radius: 5px;
  text-align: left;
}

.text {
  font-family: 'Carrois Gothic', sans-serif;
}

.text--quote {
  color: #7B6840;
  line-height: 5px;
  text-align: right;
}

.intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

label {
  text-align: left;
}

.search__input {
  min-width: 250px;
  max-width: 350px;
  width: 33%;
  padding: 4px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.recipes__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recipes > a {
  width: 30%;
  height: 0;
  padding-bottom: 19.8%;
  overflow: hidden;
  margin-bottom: 3%;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  text-decoration: none;
}

a > .recipe-card {
  width: 100%;
  padding-bottom: 70%;
  height: 0;
  overflow: inherit;
  margin-bottom: inherit;;
  border: none;
  border-radius: inherit;

}

.recipe-card {
  border: 2px solid #333;
  border-radius: 4px;
  text-align: left;
  width: 30%;
  height: 0;
  padding-bottom: 17%;
  overflow: hidden;
  margin-bottom: 3%;
}

.recipe-card__image {
  width: 46%;
  float: left;
}

.recipe-card__text {
  display: block;
  float: right;
  width: 52%;
  /*overflow-y: scroll;*/
}

.recipe-card__text--title {
  margin-top: 0;
  margin-bottom: 5px;
}

.recipe-card__text--category {
  margin-top: 0;
  margin-bottom: 5px;
  color: #666;
  font-size: 13px;
}

.recipe-card__text--description {
  margin: 0;
  font-size: 13px;
}

.diet__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.diet__input {
  min-width: 50px;
  max-width: 100px;
  width: 33%;
  padding: 4px;
  margin-right: 1rem;
  border: 2px solid #ccc;
  border-radius: 4px;
}
