.Info {
  position: absolute;
  top: 4rem;
  left: 15px;
  right: 15px;
  bottom: 15px;
  overflow-y: scroll;
  background-color: rgba(220, 220, 220, 0.8);
  padding: 15px 30px;
  border-radius: 5px;
  text-align: left;
}
